include README.rst
include CHANGES.rst
include LICENSE.rst
include pyproject.toml

recursive-include sofia_redux *.pyx *.c *.pxd

prune build
prune docs

global-exclude *.pyc *.o .DS_Store
global-exclude  grism/standard_models/*fits

